    <div class="jumbotron">
  <h1 class="display-4">Bleacher Report Scraper</h1>
  <p class="lead">I created this scraper to get the latest news in the sports world.</p>
  <hr class="my-4">
  <p>Start now by clicking the button below to scrape the Bleacher Report website.</p>
  <a class="btn btn-primary btn-lg" id="scrape" role="button">Press to scrape B/R</a>
</div>
    
    
    {{!-- <div class="list-group">
  <button type="button" class="list-group-item list-group-item-action active" id="articles"></button>
 
</div> --}}
<div id="wrapper">
      <div class="row">
        <div class="col-6" id="articles"></div>
        <div class="col-6 col-md-4" id="notes"></div>
      </div>   
</div>